.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
}

    .sidebar a {
        padding: 8px;
        font-size: 24px;
        display: block;
        text-decoration: none;
    }

        .sidebar a:hover {
            cursor: pointer;
            opacity: .7;
        }

.body-text {
    margin-left: 150px;
    font-size: 18px;
}

.menu-item {
}

.is-active {
    background-color: red;
}
